/*nav*/
#menu ul {

    margin-left: -300px;

}

#menu ul li a:hover {

    color: rgb(90, 125, 156);
    transform: scale(1.1);
}

#menu ul li a {
    text-align: center;
}

nav container-fluid {
    padding: 10px;
}

nav .collapse {
    justify-content: center;
}

.nav-item {

    width: 100px;


}

#soluong {
    position: absolute;
    top: 100;
    right: 10px;
    font-weight: bold;
    color: red;
}


.nav1 {
    margin-bottom: -40px;
}

.navbar-collapse {
    margin-bottom: -40px;
}

/*Section*/
.menusec{
    list-style-type: none;
    display: flex;
}
.menusec li {
    text-decoration: none;
    padding: 10px ;
    padding-top: 15px;
   
   
}
a{
    text-decoration: none;
}
.menusec li:hover  {
    color: rgb(90, 125, 156);
    transform: scale(1.1);
}
/*card*/
.card-avatar img {
    width: 200px;

}
.card:hover{
    transform: scale(1.1);
}

.card {
    width: 250px;
    height: 280px;
    background: #f5f5f5;
    padding: 2rem 1.5rem;
    transition: box-shadow .3s ease, transform .2s ease;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
}

/*Image*/
.card-avatar {
    height: 100px;
    width: 100px;
    background: linear-gradient(to top, #f1e1c1 0%, #aa9487 100%);
    /* width: var(--size);
    height: var(--size); */
    border-radius: 50%;
    transition: transform .2s ease;
    margin-bottom: 1rem;
}

.card-avatar img {
    width: 120%;
    height: 110%;


}

.card-title {
    color: #333;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2rem;
}

.card-subtitle {
    color: #859ba8;
    font-size: 0.8em;
}
/*Text*/
.card-title {
    color: #333;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 2rem;
}

.card-subtitle {
    color: #859ba8;
    font-size: 0.8em;
}
/*footer*/
.ft1 {
    line-height: 5px;
}

.ht a {
    text-decoration: none;
    color: white;


}
.fa-solid:hover{
   color: red;

}
/**/
.navbar-nav li .dropdown-menu{
    position: absolute;
    top: 100%;
    right: -31px;
    background-color: rgb(240, 234, 234);
}
.navbar-nav li:hover .dropdown-menu {
    display: block;
}

